.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F0F0F0;
}

.whiteArea {
  background: #ffffff;
  width: 50%;
  min-height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.container {
  width: 1400px;
  gap: 45px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: transparent;
}

.navigationArea {
  width: 240px;
  min-width: 240px;
  padding-top: 110px;
  display: flex;
  z-index: 999;
}
.pageArea {
  background: #F0F0F0;
  width: calc(100% - 240px);
  height: 100%;
  z-index: 50;
  padding: 36px;
  padding-top: 40px;
  padding-bottom: 20px;
}
