.cardBody {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(190, 187, 203, 0.25);
    display: flex;
    flex-direction: column;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 4px 4px 0 0;
    > * {
        margin-bottom: 30px;
    }
}

.cardTitle {
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
}

.cardActions{
    padding: 0 10px;
    > * {
        cursor: pointer;
    }
}