.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pageHeader {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0;
}

.pageBody {
    width: 100%;
    margin-top: 40px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background: transparent;
    padding: 0;
    gap: 30px;
    > .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: 35px;
        > .colSmall {
            flex-basis: calc(30% - 35px);
            flex-grow: 1;
            flex-shrink: 0;
            > .smallCard {
                display: flex;
                flex-direction: column;
                align-items: center;
                > .clinicIcon {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    object-position: center;
                    object-fit: cover;
                }
                > .clinicName {
                    padding-top: 30px;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0.04em;
                    text-align: left;
                }
                > .clinicRating {
                    padding-top: 30px;
                    > .rating {
                        margin-right: 15px;
                    }
                    > .clinicRatingCount,
                    > .clinicRatingDelimiter,
                    > .clinicRatingMax {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0.04em;
                        text-align: center;
                        color: #b3b1bb;
                    }
                    > .clinicRatingCount {
                        margin-left: 15px;
                        color: #ffc14e;
                    }
                }
                > .clinicInf {
                    padding-top: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    > .clinicInfText {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0.04em;
                        text-align: center;
                    }
                }
            }
        }
        > .colLarge {
            flex-basis: calc(70% - 35px);
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    > .tabContainer {
        width: 100%;
    }
}

.iconContainer {
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.dataRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
    gap: 30px;
    &.noMargin {
        margin: 0;
    }
}

.dataIndex {
    flex-basis: calc(35% - 30px);
    height: 100%;
    color: #b3b1bb;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
}

.dataValue {
    display: block;
    display: -webkit-box;
    flex-basis: calc(65% - 30px);
    height: 100%;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.branchActions {
    display: flex;
    gap: 30px;
    height: 100%;
    > .reset {
        background: transparent;
        border: none;
        color: #e32323;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        * {
            fill: e32323;
        }
    }
    > .filter {
        display: flex;
        align-items: center;
        justify-content: stretch;
        border: 1px solid #b3b1bb;
        border-radius: 4px;
        width: 210px;
        > div {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border: none;
            box-shadow: none;
        }
    }
    > .add {
        border: none;
        background: #2751f2;
        color: #fff;
        border-radius: 4px;
        padding: 15px 30px;
        font-size: 17px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background: #4f72fa;
        }
        &:active {
            background: #0f32b7;
        }
    }
}

.tableRow {
    grid-template-columns: 14% 23% 15% 18% 17% 13%;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;

    color: #8f8f8f;
    gap: 15px;
    li::marker {
        content: "";
    }
    li:not(:last-child) {
        a {
            color: #2751f2;
        }

        &::after {
            content: ">";
            margin-left: 15px;
        }
    }
}

.textButton {
    background: transparent;
    border: none;
    width: min-content;
    white-space: nowrap;
    color: #2751f2;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.offerCard {
    max-width: calc(33.333% - 30px);
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
    color: #312e45;
    gap: 20px;
    .title {
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.04em;
        text-align: left;
    }
    .description {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
    }

    .type {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
    }
}
