.branchActions {
    display: flex;
    gap: 30px;
    height: 100%;
    > .reset {
        background: transparent;
        white-space: nowrap;
        border: none;
        color: #e32323;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        * {
            fill: e32323;
        }
    }
    > .filter {
        display: flex;
        align-items: center;
        justify-content: stretch;
        border: 1px solid #b3b1bb;
        border-radius: 4px;
        width: 210px;
        > div {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border: none;
            box-shadow: none;
        }
    }
}

.iconContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.tableRow {
    grid-template-columns: 14% 23% 15% 18% 17% 13%;
}
