.serviceBlock{
	display: flex;
	flex-direction: column;	
	border-radius: 4px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	border-left: 3px solid transparent
}
.serviceHeader{
	background: #F4F7FF;
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 15px;
	justify-content: space-between;
	cursor: pointer;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: #1C1A27;
}
.chevron{
	display: flex;
	transition: all .2s ease-in-out;
}
.serviceTable{
	padding: 30px 20px 20px;
}
.table{
	width: 100%;
	text-align: left;
	tbody:before {
		content: "-";
    	display: block;
    	line-height: 20px;
    	color: transparent;
	}
	th {
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 22px;
		letter-spacing: 0.04em;
		color: #B3B1BB;
	}
	td {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.04em;
		color: #1C1A27;
	}
	.edit {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
.services{
	display: flex;
	flex-direction: column;
	gap: 20px;
}