.offersContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.pageHeader {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0;
    margin-bottom: 25px;
}

.pageHeaderLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 55px;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;

    color: #8f8f8f;
    gap: 15px;
    li::marker {
        content: '';
    }
    li:not(:last-child) {
        a {
            color: #2751f2;
        }

        &::after {
            content: '>';
            margin-left: 15px;
        }
    }
}

.addAnalysis {
    margin-bottom:30px;
    .header {
        h2 {
            font-size:24px;
            margin-bottom:30px;
        }
    }
    .defaultInput {
        width: 77%;
        span {
            color:#B3B1BB;
        }
    }
    .addAnalysisform {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.table {
    .tableHeader {
        background-color: #F4F7FF!important;
        padding:0 10px;
    }
    .tableBody{
        margin-left:20px;
    }
    .tableRow {
        grid-template-columns: 19% 31% 21% 21% 7% !important;
        .time{
            text-align: center;
        }
        .tableRowTemplate {
            background-color: red;
        }
        .tableCellTemplate{
            padding:20px!important;
        }
    }
    .tableRows {
        display: flex;
        justify-content: space-between;
        h2 {
            color: #B3B1BB;
            font-weight: 200;
            font-size:16px;
        }
    }
    .tableCheckbox {
        display: flex;
        align-items: center;
        margin-left:20px;
    }
    .tableActons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}