.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .imageContainer {
        width: 50%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 60px;
        background-image: url("/images/authorization/auth.png");
        background-size: cover;
        background-position: center;
        background-repeat: none;
        .text {
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: #ffffff;
            max-width: 500px;
            .welcomeText {
                font-size: 36px;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: 0.04em;
                text-align: left;
            }
            .descText {
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.04em;
                text-align: left;
            }
        }
    }

    .signInContainer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 60px;
        .signIn {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 35px;
            .signInTitle {
                font-size: 28px;
                font-weight: 700;
                line-height: 37px;
                letter-spacing: 0.04em;
                text-align: left;
            }
            p {
                margin: 0;
            }
            .input {
                width: 100%;
            }
            .forgot {
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: right;
                color: #b3b1bb;
                margin-top: -20px;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                width: 100%;
            }
            .actions {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .signInBtn {
                    min-width: 225px;
                }
                > .row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }
                span {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.04em;
                    text-align: left;
                }
                .sgnUpBtn {
                    padding-left: 5px;
                    padding-right: 0;
                }
                .cancelBtn {
                    color: #312e45;
                    margin-left: 10px;
                }
            }
        }
    }
}
