.pageHeaderLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 55px;
}

.dataIndex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.whiteSpace {
    flex: 1 1 0%;
}
