.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tableRow {
    grid-template-columns: 7% 25% 24% 21% 15% 10%;
}

.pageHeader {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.searchContainer {
    height: 100%;
    width: 385px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px 18px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 16px;
    cursor: text;
}

.searchImg,
.searchImg div {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchImg * {
    fill: #312e45;
}

.searchInput {
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.searchInput:focus {
    outline: none;
    box-shadow: none;
}

.smallIcon {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallIcon img {
    width: 18px;
    height: 18px;
}

.action {
    cursor: pointer;
}

.dataCheck {
    margin:auto;
    display: flex;
    align-items: center;
}

.dataCheck img {
    margin-right:10px;
}

.address {
    margin: auto 20px;
}