.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.pageHeader {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 0;
}

.pageHeaderLeft {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	gap: 55px;
}

.pageBody {
	width: 100%;
	margin-top: 40px;
	height: calc(100% - 80px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	background: transparent;
	padding: 0;
	gap: 30px;

	> .tabContainer {
		width: 100%;
	}
}

.breadcrumbs {
	display: flex;
	flex-direction: row;

	color: #8f8f8f;
	gap: 15px;
	li::marker {
		content: '';
	}
	li:not(:last-child) {
		a {
			color: #2751f2;
		}

		&::after {
			content: '>';
			margin-left: 15px;
		}
	}
}

.doctorRow, .bigDoctorRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	flex: 0 0 170px;
	padding: 30px;
	margin: 0;
	gap: 30px;

}

.bigDoctorRow{
	flex: 0 0 240px;
	.imageContainer{
		max-width: 180px;

	}
}

.imageContainer {
	flex: 1 0 100px;
	max-width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image {
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

.infoContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 15px;
}

.name {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.04em;
	text-align: left;
}

.speciality,
.mail,
.phone,
.birthday,
.work,
.more {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: left;
	div {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	button{
		padding: 0;
	}
}

.rating {
	.currentRating{
		margin-left: 10px;
		color: #FFC14E;
	}
	.fullRating{
		color: #B9B9BB;
	}
}

.row {
	width: calc(100% + 20px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
	margin-right: -20px;
	>*{
		margin-right: 20px;
	}
}

.edit {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	cursor: pointer;
}
.iconContainer {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	div {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.modal {
	display: flex;
	flex-direction: column;
	min-width: 800px;
	gap: 35px;
	.modalTitle {
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0.04em;
		text-align: left;
	}
	.modalHeader {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 60px;
		background: transparent;
		padding: 0;
		.close {
			cursor: pointer;
		}
	}

	.modalBody {
		display: flex;
		flex-direction: column;
		gap: 25px;
		.photoChange {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			gap: 35px;

			.doctorImage {
				width: 176px;
				height: 160px;
				object-fit: cover;
				object-position: center;
			}
		}
		.editRow {
			display: flex;
			flex-direction: row;
			gap: 35px;
			.editColumn {
				flex: 1 0 calc(50% - 35px);
				display: flex;
				flex-direction: column;
				gap: 25px;
			}
		}
	}
}

.whiteSpace {
	flex: 1 1 auto;
}
.activeBtn {
	background-color: #2751f2;
	color: #ffffff;
}
.deactiveBtn {
	background-color: #f35959;
	color: #ffffff;
}

.professions{
	display: flex;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
	.speciality{
		gap: 0;
	}
	.speciality:not(:last-child):after {
		content: ",";
	}
}
.seeMore{
	height: auto;
}