.logsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.pageHeader {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0;
}


.breadcrumbs {
    display: flex;
    flex-direction: row;

    color: #8f8f8f;
    gap: 15px;
    li::marker {
        content: '';
    }
    li:not(:last-child) {
        a {
            color: #2751f2;
        }

        &::after {
            content: '>';
            margin-left: 15px;
        }
    }
}

.logCard {
    height: auto;
    .logFilters {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
}

.searchForm {
    overflow: hidden;
    position: relative;
    width: 355px;
    height: 60px;
    .searchIcon {
        position: absolute;
        top:50%;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        left:22px;
        z-index:1;
    }
    .searchBar {
        div {
            input {
                padding: 0 0px 0 58px !important;
            }
        }
    }
}

.table {
    .tableHeader {
        background-color: #F4F7FF!important;
        padding:0 10px;
    }
    .tableBody{
        margin-left:20px;
    }
    .tableRow {
        grid-template-columns: 17% 21% 15% 11% 36% !important;
        .time{
            text-align: center;
        }
        .tableRowTemplate {
            background-color: red;
        }
        .tableCellTemplate{
            padding:20px!important;
            margin-left: 5px;
        }
        .tableGroup {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            div {
                margin-right:10px;
                color:#1C1A27;
                h2 {
                    margin:0;
                    font-size:17px;
                    font-weight: 400;
                }
            }
            .description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                height:40px;
            }
        }
        .tableActions {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .iconContainer {
                margin-left:18px;
            }
        }
        .reviews {
            display: flex;
            align-items: center;
            .starIcon {
                margin-right:10px;
            }
        }
    }
    .tableRows {
        display: flex;
        justify-content: space-between;
        h2 {
            color: #B3B1BB;
            font-weight: 200;
            font-size:16px;
        }
    }
}

.description {
    height: 10px;
    overflow: hidden;
}

.filterContainer {
    -webkit-box-shadow: 0px 0px 28px 5px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 28px 5px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 28px 5px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    z-index: 100;
    background-color: #fff;
    padding: 30px;
    position: absolute;
    top: 80px;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 483px;
    gap: 20px;
    &:after {
        content: ' ';
        width: 0;
        height: 0;
        position: absolute;
        background-color: transparent;
        border: 15px solid transparent;
        border-bottom: 15px solid #fff;
        top: -30px;
        right: 65px;
    }
}


.filterOpen {
    display: block;
}

.servInput {
    margin-bottom:25px;
}

.filterBtns {
    display: flex;
    justify-content: flex-end;
}