.cardBody {
    border-radius: 4px;
    position: relative;
}

.image {
    z-index: 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cardActions{
    z-index: 10;
    position: absolute;
    top: 16px;
    left: 16px;
}