.table {
    width: 100%;
    min-height: 50px;
    display: grid;
    border-radius: 4px;
    grid-template-columns: 7% 17% 24% 19% 10% 9% 14%;
    grid-auto-flow: column;
    div {
        margin:auto 0;
    }
    .checkbox {
        padding-top:6px;
    }
}

.tableHeader {
    width: 100%;
    min-height: 50px;
    display: grid;
    border-radius: 4px;
    grid-template-columns: 10% 16% 23% 19% 9% 9% 14%;
    grid-auto-flow: column;
    background-color: #d9def3;
    border-radius: 4px;
    div {
        margin:auto 0;
    }
}

.tableClass {
    width: calc(100% - 60px);
    margin-bottom:20px;
}


.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: calc(100% - 72px);
    margin-bottom:30px;
}

.paginationControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.recordCounter,
.paginatorTitle {
    color: #1c1a27;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.paginationButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    gap: 40px;
}

.paginationBtn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.paginationBtn * {
    stroke: #63626d;
}

.disable,
.disable * {
    pointer-events: none;
    stroke: #b3b1bb;
}

.pageSelect {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    border: none;
}

.disabledCheckbox {
    pointer-events:none;
}

.servicesBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services {
    width: 800px;
    align-items: unset;
}

.servicesBlock {
    position: relative;
    h2 {
        font-size: 18px;
        font-weight: 600;
        margin:0;
    }
    h4 {
        font-weight: 400;
        margin:0;
        font-size:14px;
    }
    .currentServ{
        position: absolute;
        top:0;
        left:0;
        color:red;
    }
}

.addService {
    color:#2751F2;
    background-color: transparent;
    border:none;
    outline:none;
    cursor:pointer;
}

.editBtn {
    background-color: transparent;
    outline:none;
    border:none;
    cursor:pointer;
}

.priceSend {
    margin-left:10px;
    background: transparent;
    border:1px solid#ddd;
    cursor:pointer;
    opacity: 0;
}

.priceInput {
    outline:none;
    background:transparent;
    border:1px solid#ddd;
    width: 50%;
    &:focus {
        background-color: rgb(241, 241, 241);
    }
}

.active {
    opacity: 1;
}