.table {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tableHeader {
  background-color: #d9def3;
}

.tableRowTemplate {
  width: 100%;
  height: 50px;
  display: grid;
  border-radius: 4px;
  grid-template-columns: 7% 13% 35% 15% 11% 14% 5%;
}

.tableCellTemplate {
  display: grid;
  padding: 5px;
  height: 100%;
  max-height: 60px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
}

.tableIconCellTemplate {
  display: grid;
  padding: 10px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.tableStatusCellTemplate {
  display: grid;
  padding: 11.5px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.tableHeaderCell {
  font-weight: 500;
  padding: 15px;
}

.tableRow {
  background-color: #ffffff;
  height: 60px;
  overflow: hidden;
}

.tableCell {
  font-weight: 400;
}

.rowImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.tableStatus {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: min-content;
  height: 100%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: center;
}

.statusOpen {
  background-color: #c4e7dc;
  color: #00a875;
}

.statusClose {
  background-color: #e7c4c4;
  color: #e32323;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.paginationControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.recordCounter,
.paginatorTitle {
  color: #1c1a27;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.paginationButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  gap: 40px;
}

.paginationBtn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.paginationBtn * {
  stroke: #63626d;
}

.disable,
.disable * {
  pointer-events: none;
  stroke: #b3b1bb;
}

.pageSelect {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 4px;
  border: none;
}
