.card {
	width: 100%;
	max-height: calc(120vh - 210px);
	overflow-y: auto;
	.cardBody {
		display: flex;
		flex-direction: column;
		gap: 25px;

		.photoChange {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			gap: 35px;
			.doctorImage {
				width: 160px;
				height: 160px;
				object-fit: cover;
				object-position: center;
			}
		}
		.editRow {
			display: flex;
			flex-direction: row;
			justify-content: stretch;
			align-items: stretch;
			gap: 35px;
			> div {
				flex: 1;
			}
			.editColumn {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 25px;
			}
		}
	}
	.actions {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		.add {
			padding-right: 0;
			margin-top: -30px;
		}
	}
}
.modalFooter {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 35px;
}
.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	.editTitle {
		flex: 0;
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
		letter-spacing: 0.04em;
		text-align: left;
	}
	.editRow {
		flex: 1;
	}
}

.fileInput {
	border: 3px dashed #b3b1bb;
	border-radius: 4px;
	min-height: 225px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	button {
		margin-left: 25px;
	}
}

.iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	> div {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.filesContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 25px;
	.file {
		flex: 1;
		border: 1px solid #b3b1bb;
		border-radius: 4px;
		min-width: 40%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		padding: 15px;
		.preview {
			margin-right: 15px;
			width: 52px;
			height: 52px;
			object-fit: cover;
			object-position: center;
		}
		.info {
			display: flex;
			flex-direction: column;
			gap: 5px;
			overflow: hidden;
			.name {
				font-size: 16px;
				font-weight: 600;
				line-height: 21px;
				letter-spacing: 0.04em;
				text-align: left;
			}
			.size {
				font-size: 18px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.04em;
				text-align: left;
			}
		}
		.iconContainer {
			cursor: pointer;
			height: 100%;
		}
	}
}
.upload {
	display: none;
}
.upBtn {
	font-family: 'RedHatDisplay';
	height: 30px;
	width: 150px;
	padding: 10px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	margin-left: 25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 2px solid #2751f2;
	border-radius: 4px;
	transition: all 0.2s ease-out;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: #ffff;
	color: #2751f2;
	padding: 18px 45px;
	font-size: 17px;
}
