.modal {
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 780px;
    min-height: 475px;
    .modalActions {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 35px;
        justify-content: flex-end;
    }
    .modalContent {
        width: 100%;
        .modalTitle {
            h2 {
                margin:0 0 35px;
            }
        }
    }
}

.modalInputs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .halfInput {
            width: 48%;
        }
    }
    .modalInput {
        margin-bottom:25px;
        h2 {
            font-size: 16px;
            font-weight: 600;
            line-height: 21px;
            letter-spacing: 0.04em;
            text-align: left;
            color: #312e45;
        }
    }
    .modalSelects {
        display: flex;
        .modalSelect {
            margin-right: 15px;
            &:nth-child(3){
                margin-right:0;
            }
        }
    }
}

.editBtns {
    display: flex;
    justify-content: flex-end;
    padding-top:30px;
    width: 100%;
    margin-top:10px;
    button {
        margin-left:35px;
    }
}

.title {
    width: 100%;
    margin-bottom:25px;
}

.inputWithFlags {
    display: block!important;
    width: 100%!important;
    position: relative;
    margin-bottom:24px;
    .flagInput {
        width: 100%;
    }
    .flag {
        position: absolute;
        width:30px;
        right:0px;
        margin-top:5px;
    }
}