div.modal {
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 685px;
    min-height: 575px;
    .modalActions {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 35px;
        justify-content: flex-end;
    }
}

.modalTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
}

.modalContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    .center{
        align-items: center;
        justify-content: center;
    }
    .modalContentRow {
        display: flex;
        flex-direction: row;
        gap: 35px;
        > * {
            flex: 1 0 40%;
        }
        > .image {
            flex: unset;
            width: 180px;
            height: 180px;
            object-fit: cover;
            object-position: center;
        }
        > .imageChange {
            flex: unset;
            width: min-content;
        }
    }
}

.whiteSpace {
    flex-basis: 0%;
    flex-grow: 1;
}

.outline {
    border: 2px solid #2751f2;
    background: transparent;
    color: #2751f2;
    border-radius: 4px;
    padding: 15px 30px;
    min-width: 160px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: #dbe2fd;
    }
    &:active {
        background: #0f32b7;
        color: #fff;
    }
}

.filled {
    border: none;
    min-width: 160px;
    background: #2751f2;
    color: #fff;
    border-radius: 4px;
    padding: 15px 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: #4f72fa;
    }
    &:active {
        background: #0f32b7;
    }
}
