@import "styles/colors.scss";
@import "styles/variable.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #312e45;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  height: $input-height-large;
  border: 1px solid #b3b1bb;
  border-radius: 4px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c1a27;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: none;
  }
  .body {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 18px 20px;
    padding-right: 40px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    .label {
      user-select: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    &:focus {
      outline: none;
    }
    .arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-out;
      div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.up {
        transform: rotate(180deg) translateY(+50%);
      }
    }
  }
  .wrapper {
    position: absolute;
    top: $input-height-large;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 5s ease-out;
    z-index: 1;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    .option {
      user-select: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 18px 20px;
      transition: all 0.2s ease-out;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: $primary-light;
      }
      &.active {
        background-color: $primary-dark;
        color: #fff;
      }
    }
    &.active {
      height: min-content;
      max-height: 300px;
    }
  }
}
