@import "styles/colors.scss";
@import "styles/variable.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  width: 500px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #312e45;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    border-radius: 124px;
   }
  .checkedValue {
    white-space: nowrap;
  }
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  height: $input-height-large;
  border: 1px solid #b3b1bb;
  border-radius: 4px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c1a27;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: none;
  }
  .body {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 18px 20px;
    padding-right: 40px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    .label {
      user-select: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    &:focus {
      outline: none;
    }
    .arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-out;
      div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.up {
        transform: rotate(180deg) translateY(+50%);
      }
    }
  }
}

.wrapper {
    position: absolute;
    top: $input-height-large;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 5s ease-out;
    z-index: 1;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    .option {
      user-select: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 18px 20px;
      transition: all 0.2s ease-out;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: $primary-light;
      }
      &.active {
        background-color: $primary-dark;
        color: #fff;
      }
    }
    &.active {
      height: min-content;
      max-height: 300px;
    }
  }


.checkedValue {
    margin-right:10px;
}

.searchBox {
  width:556px;
  .checkBoxForm{
    margin: 35px 0;
    .search_box {
      margin: 0 50px;
      position: relative;
      input {
        padding-left:55px;
        font-size:18px;
        &::placeholder {
          color:#1C1A27;
          font-size:18px;
        }
      }
      &:before {
        content:'';
        position: absolute;
        background-image: url('../.../../../../public/images/icons/inputs/search.svg');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        left:20px;
        bottom:20px;
      }
    }
    .checkBoxes{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top:30px;
      overflow-y: auto;
      max-height:205px;
      padding:0 20px 0 50px;
      &::-webkit-scrollbar {
       width: 5px;
       border-radius: 124px;
      }
      &::-webkit-scrollbar-track {
       background: #BFCCFF; 
       border-radius: 124px;
      }
      &::-webkit-scrollbar-thumb {
        background: #2751F2; 
        border-radius: 124px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #133fed;
        border-radius: 124px; 
      }
      .checkbox {
        width: 45%;
        margin-bottom:15px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.active {
  max-height: 600px!important;
}