$primary: #2751F2;
$primary-light: #4F72FA;
$primary-extra-light: #DBE2FD;
$primary-dark: #0F32B7;
$primary-text: #ffffff;
$secondary: #FFCA28;
$secondary-light: #FFE8B2;
$secondary-dark: #FFB200;
$secondary-text: #000000;
$disabled: #D6D6D6;
$disabled-text: #ffffff;