@font-face {
    font-family: 'RedHatDisplay';
    src: url(/fonts/RedHatDisplay-VariableFont_wght.ttf)
        format('opentype-variations');
    font-weight: 100 1000;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'RedHatDisplay', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

body.slide {
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h3 {
    font-family: 'RedHatDisplay';
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
}
