$size-font-small: 12px;
$size-font-base: 14px;
$size-font-large: 17px;
$input-height-small:30px;
$input-height-base: 40px;
$input-height-large: 60px;
$input-padding-small: 6px 15px;
$input-padding-base: 10px 20px;
$input-padding-large: 18px 30px;